*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    height: 70px;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    background-color:#fff;
    box-shadow: 0px 1px 3px #ccc;
    position: sticky;
    top: 0;
    z-index: 99;
}
nav .nav-left, nav .nav-right{
    display: flex;
    align-items: center;
}
nav .nav-left > img{
    height: 50px;
    width: auto;
    border-radius: 30%;
}
nav .nav-left > input{
    height: 40px;
    padding: 5px 10px;
    border: none;
    border-radius: 25px;
    outline: none;
    background-color:#eee;
    margin-left: 10px;
}
nav .nav-middle{
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
}
nav .nav-middle a{
    text-decoration: none;
    color: #333;
    padding: 10px;
    margin: 0px 10px;
}
nav .nav-middle a.active{
    color: brown;
    position: relative;
}
nav .nav-middle a.active::after{
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: brown;
}
nav .nav-middle a > i{
    font-size: 25px;
}
nav .nav-right .profile, .container .left-panel .profile {
    background: url('/image/profileme.jpeg');
    height: 40px;
    width: 40px;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}
nav .nav-right a{
    text-decoration: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #333;
    background-color: #eee;
    display: grid;
    place-items: center;
    margin-left: 1rem;
}
nav .nav-right a > i {
    font-size: 16px;
}
.container{
    background: #eee;
    display: flex;
}
.container .left-panel, .container .right-panel{
    width: 250px;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
}
.container .left-panel ul{
    padding: 10px 0px;
}
.container .left-panel ul li{
    list-style: none;
    display: flex;
    padding: .7rem 1rem;
    align-items: center;
    transition: .3s;
    border-radius: 10px;
    cursor: pointer;
}
.container .left-panel ul li:hover{
    background: #ddd;
}
.container .left-panel ul li > p{
    margin-left: 10px;
}
.container .left-panel ul li > i{
    font-size: 20px;
    color: brown;
}
.container .left-panel ul li > i.fa-calendar-week{
    color: tomato;
}
.container .left-panel ul li > i.fa-bullhorn{
    color: rgb(233, 55, 52);
}
.container .left-panel ul li > i.fa-hands-helping{
    color: mediumaquamarine;
}
.container .left-panel ul li > i.fa-briefcase{
    color: yellowgreen;
}
.container .left-panel ul li > i.fa-star{
    color: indianred;
}
.container .left-panel .footer-links{
    padding: 5px 1rem;
}
.container .left-panel .footer-links a{
    text-decoration: none;
    color: #333;
    font-size: 12px;
}
.middle-panel{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.middle-panel .story-section{
    display: flex;
    padding: 1rem;
}
.middle-panel .story-section .story{
    width: 110px;
    height: 200px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 0px 5px;
    background: #fff;
}
.middle-panel .story-section .story > img{
    height: 100%;
    transition: .3s ease-in;
}
.middle-panel .story-section .story:hover > img{
    transform: scale(1.05);
}
.middle-panel .story-section .story .dp-container{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 6px;
    left: 6px;
    border: 3px brown solid;
}
.middle-panel .story-section .story .dp-container > img{
    width: 100%;
    height: 100%;
}
.middle-panel .story-section .story .name{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 5px;
    color: #fff;
    font-weight: bold;
}
.middle-panel .story-section .story.create{
    box-shadow: 0px 1px 3px #ccc;
}
.middle-panel .story-section .story.create .dp-image{
    height: 80%;
    overflow: hidden;
}
.middle-panel .story-section .story.create .dp-image > img{
    height: 100%;
}
.middle-panel .story-section .story.create .dp-container{
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    place-items: center;
    background: brown;
    border: #fff 4px solid;
}
.middle-panel .story-section .story.create .dp-container i{
    color: #fff;
}
.middle-panel .story-section .story.create .name{
    color: #000;
    font-size: 15px;
    left: 10px;
}
.post{
    width: 550px;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.post .post-top{
    display: flex;
    align-items: center;

}
.post .post-top .dp{
    width: 40px;
    height: 40px;
    border-radius: 50%; /*กำหนดให้ div นี้เป็นพื้นที่ในวงกลม*/
    overflow: hidden;  /*ส่วนเกินด้านนอกวงกลม*/
}
.post .post-top .dp > img{
    width: 100%;
    cursor: pointer;
}
.post .post-top .post-info{
    margin-left: 10px;
    font-weight: bold;
}
.post .post-top .post-info .name{
    cursor: pointer;
    font-size: 16px;
}
.post .post-top .post-info .time{
    font-size: 12px;
    cursor: pointer;
}
.post .post-top > i{
    margin-left: auto;
    cursor: pointer;
}
.post .post-top > input{
    height: 40px;
    padding: 5px 10px;
    border-radius: 25px;
    border: none;
    outline: none;
    background: #eee;
    flex: 1;
    margin-left: 10px;
}
.post.create .post-top{
    padding-bottom: 10px;
    border-bottom: #ccc solid .1px;
}
.post .post-content{
    font-size: 16px;
    font-weight: normal;
    padding: 10px;
    border-bottom: #ccc solid .1px;
}
.post .post-content > img, .post .post-content > iframe{
    width: 100%;
    margin: 5px 0px;
}
.post .post-bottom{
    box-shadow: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    padding: 1px 5px 0px 5px;
}
.post .post-bottom .action{
    padding: 5px 5px;
    border-radius: 10px;
    transition: .3s ease-in;
    cursor: pointer; /*ให้เม้าส์เป็นรูปมือชี้*/
}
.post .post-bottom .action:hover{
    background: #eee;
    padding: 5px 25px;
}
.post.create .post-bottom .action{
    color: red;
    margin-top: 5px;
}
.post.create .post-bottom .action > i.fa-video{
    color:lightcoral;
}
.post.create .post-bottom .action > i.fa-image{
    color:darkkhaki;
}
.post.create .post-bottom .action > i.fa-smile{
    color:rgb(255, 160, 88);
}
.container .right-panel{
    padding: 1rem;
    overflow-y: scroll;
}
.right-panel .pages-section, .right-panel .friends-section{
    margin: 1rem 0px;
}
.right-panel .pages-section h4, .right-panel .friends-section h4{
    margin-bottom: 10px;
}
.right-panel .pages-section .page, .right-panel .friends-section .friend{
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: .3s ease-in-out;
    border-radius: 5px;
    padding: 7px 10px;
    color: #333;
}
.right-panel .pages-section .page:hover, .right-panel .friends-section .friend:hover{
    background: #ddd;
}
.right-panel .pages-section .page > .dp, .right-panel .friends-section .friend > .dp{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.right-panel .pages-section .page > .dp > img, .right-panel .friends-section .friend > .dp > img{
    width: 100%;
}
.right-panel .pages-section .name, .right-panel .friends-section .name{
    font-size: 16px;
    cursor: pointer;
    margin-left: 8px;
}